body {
    background-color: #f8f9fa;
}

.card {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border: none;
}

#registerForm label {
    font-weight: 500;
}

#registerForm input {
    margin-bottom: 1rem;
}

.btn-link {
    text-decoration: none;
}